/* Estilo para el título principal */
h1 {
    font-size: 36px;
    font-weight: bold;
    color: #ff5733;
    margin-bottom: 20px;
    text-transform: uppercase;
}

/* Estilo para los párrafos */
p {
    font-size: 18px;
    margin-bottom: 15px;
    line-height: 1.5;
    color: #333; /* Color de fuente gris oscuro */
}

/* Estilo para la lista no ordenada */
ul {
    list-style-type: square;
    margin: 0;
    padding: 0;
}

/* Estilo para los elementos de la lista no ordenada */
li {
    font-size: 18px;
    margin-bottom: 10px;
    color: #333;
}

/* Estilo para los enlaces */
a {
    text-decoration: underline;
    color: #007bff; /* Color azul típico de los enlaces */
}

/* Estilo para los encabezados de sección */
h2, h3, h4 {
    font-size: 28px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 15px;
    color: #ff5733;
    text-transform: uppercase;
}

/* Estilo para el código JSON */
pre {
    background-color: #333; /* Fondo gris oscuro */
    padding: 15px;
    border-radius: 10px;
    font-size: 16px;
    overflow-x: auto;
}

/* Estilo para el código JSON dentro del pre */
code.language-json {
    display: block;
    color: #00ffcc; /* Color de fuente cyan */
}
