/* Estilo para el título principal */
h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Estilo para los párrafos */
p {
    font-size: 16px;
    margin-bottom: 10px;
}

/* Estilo para la lista no ordenada */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Estilo para los elementos de la lista no ordenada */
li {
    font-size: 16px;
    margin-bottom: 5px;
}

/* Estilo para los enlaces */
a {
    text-decoration: none;
    color: #007bff; /* Color azul típico de los enlaces */
}

/* Estilo para los encabezados de sección */
h2, h3, h4 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
}

/* Estilo para el código JSON */
pre {
    background-color: #f4f4f4; /* Fondo gris claro */
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    overflow-x: auto; /* Agrega una barra de desplazamiento horizontal si es necesario */
}

/* Estilo para el código JSON dentro del pre */
code.language-json {
    display: block;
    color: #333; /* Color del texto en el código */
}